<div id="container">
	<div>
		<div id="exit" exit-Menu></div>
		<div id="leftBox">
			<div id="wolf" set-In-Boat></div>
			<div id="goat" set-In-Boat></div>
			<div id="cabbage" set-In-Boat></div>
		</div>
	</div>
	
	<div id="middleBox">
	<div id="endMessage" ng-model="endMessage">{{endMessage}}</div>
		<div id="message" ng-model="message">{{message}}</div>

		<div id="boat" boat-Display>
			<div id="boatMove" boat-Move ></div>
			<div id="boatChair" set-In-Boat></div>
		</div>
	</div>
	<div id="rightBox"></div>
</div>