body{
	font-family: 'Open Sans', sans-serif;
}
a {
color: #E1704B;
transition: color 0.5s ease;
}
a:hover{
    cursor:pointer;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
}
div.task label.checkbox{
	border: 1px solid #DDD;
	border-left-width: 3px;
	padding: 9px 9px 9px 29px;
	background-color: #FFF;
	margin-top: 10px;
	position: relative;
	font-weight: normal;
}
.header-color-blue {
    background: #307ECC;
    border: 1px solid #307ECC;
    box-sizing: content-box;
    position: relative;
    min-height: 38px;
    padding: 0 12px 0;
    color: #fff;
}
.filter{
    margin-top: 6px;
}
.header-color-blue+.widget-body {
	border-color: #307ECC;
	margin-top: -10px;
	padding: 20px 10px;
}
.widget-body {
	border: 1px solid #CCC;
	border-top: 0;
	background-color: #FFF;
	padding-right: 50px; 
}
.strike{
	text-decoration:line-through;
	color: black;
}
.header-elements-margin {
	margin: 5px;
}
.add-task{
	margin-top: 10px;
}
.nav-button-margin{
	margin: 10px 20px 0 0;
}
.navbar{
border-radius: 0;
background: #438EB9;
color: #fff;
}
.navbar .navbar-brand {
color: #FFF;
font-size: 24px;
text-shadow: none;
}


.areaTxt {
	height: 370px!important;
	margin-top: 5px;
	border-radius:5px!important;
}
.mTop{
	margin-top: 5px;
}


.hideButton{
	display: none;
}

#checkTask {
	margin-top: 4px;
  	margin-left: -25px;
}

#checkTask input[type="checkbox"] {
	height: 20px;
	width: 20px;
}

.childTask {
	margin-left: 30px;
}

.hideTask {
	display: none;
}
.hideTask2 {
	display: none;
}

.dotterLine{
	border-bottom: dotted 1px #307ECC ;
	border-left: dotted 1px #307ECC ;
	margin-left: 4%;
}

.bs-example {
  padding: 20px 15px 0px 15px;
  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
}

.mBot {
	margin-bottom: 10px;
}

.bg-primary {
  color: #fff;
  background-color: #428bca;
}

.mainTask {
	background-color: #99CCFF!important;
}

a {
	color: #000000!important;
}

.mTaskBg {
	background-color: #fff!important;
	border: solid 1px #fff; 
	border-radius: 5px;
}

.cWhite {
	color: white!important;
}

.dateBorder {
	padding-left: 10px;
	border: solid 1px;
	border-right: none;
	border-top: none;  
	background: #e3e3e3;
}